*{
	margin: 0;
	padding: 0;
}

#img_header{
	display: flex;
	align-items: center;
	justify-content: center;

}

#img_header_img{
	width: 100%;
	border: 3px solid gold;	
}

.menu-barra{
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
	margin-top: 30px;
}

a{
	text-decoration: none;
	font-size: 25px;
	background-color: #E17928;
	border: 2px solid black;
	padding-left: 18px;
	padding-right: 18px;
	color:white;
}

a:hover{
	background-color: green;
}

#h1{
	font-family: 'Do Hyeon', sans-serif;
	font-size: 30px;
	margin-top: 16px;
	padding-top: 10px;
	margin:10px;


}



#imagen_der{
	float: left;
	margin: 20px;
}

#h2{
	font-size: 25px;
	margin-top: 80px;
	padding-top: 50px;
	text-align: left;
	padding-top: 50px;
	font-family: 'Do Hyeon', sans-serif;
	margin: 10px;


  }

  p{
	font-size: 20px;
	line-height: 20px;
	margin: 10px;
}

  #imagen_long{
  	display: flex;
  	justify-content: center;
  	margin-top: 20px;
  	padding-bottom: 20px;

  }

#div-footer{
	font-size: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom:  30px;
	
}
